<h1>Editing journalist</h1>

<%= render "form", journalist: @journalist %>

<br>

<div>
  <%= link_to "Show this journalist", @journalist %> |
  <%= link_to "Back to journalists", journalists_path %>
</div>
