<div id="<%= dom_id setting %>">
  <p>
    <strong>Newspapername:</strong>
    <%= setting.newspapername %>
  </p>

  <p>
    <strong>Tagline:</strong>
    <%= setting.tagline %>
  </p>

  <p>
    <strong>Theme:</strong>
    <%= setting.theme_id %>
  </p>

</div>
