/*-- This app supports scss, so any css or scss will work. --*/

// mnml defaults //

*, html {
	font-family: sans-serif;
	text-decoration: none;
}

a {
	text-decoration: underline;
	color: black;
}

input, textarea {
	width: 90%;
	margin-left: 5%;
	margin-right: 5%;
	padding: 1rem;
	font-size: 2rem;
}

form {
	display: inline-block;
	width: 96%;
}

body {
	padding: 5px;
	margin: 1em;
}

input[type="color"] {
	padding-top: 5px;
	padding-bottom: 5px;
	height: 4rem;
}

footer {
	position: fixed;
	  left: 0;
	  bottom: 0;
	  width: 100%;
	  text-align: center;
}

// NAVIGATION AND MENU //

#logo {
	text-align: center;
	max-height: 200px;
	width: auto;
}

nav {
	display: inline-flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	width: 100%;
}

nav a {
	text-decoration: none;
	padding: 1rem;
	margin: 1rem;
	text-align: center;
	flex-grow: 2;
}

// Core Elements //

.story {

}

.storycard {

}


// Put your user SCSS styles here: //