/*-- This app supports scss, so any css or scss will work. --*/




$maxwidth: 1920px;

// mnml defaults //

*, html {
	font-family: sans-serif;
	text-decoration: none;
}

a {
	text-decoration: underline;
	color: black;
}

body {
	padding: 3rem;
	max-width: $maxwidth; // could be 100% or whatever number you feel works best
	margin: auto;
}

footer {
	position: fixed;
	  left: 0;
	  bottom: 0;
	  width: 100%;
	  text-align: center;
}

// Forms and UI //
.uploaded {
	width: 90%;
	height: auto;
	margin-left: 5%;
	margin-right: 5%;
	padding: 1rem;
	font-size: 2rem;
}

input, textarea {
	width: 100%;
	padding: 1rem;
	font-size: 1rem;
	border: none;
	border-radius: 1rem;
}

textarea {
	min-height: 500px;
	border-bottom: 2px solid;
}

form {
	display: inline-block;
	width: 90%;
	margin-left: 5%;
	margin-right: 5%;

	.field {
		padding: 2rem;
	}
}

input[type="color"] {
	padding-top: 5px;
	padding-bottom: 5px;
	height: 4rem;
}

input[type="text"] {
	width: 90%;
	margin-left: 2%;
	margin-right: 2%;
	border-bottom: 1px dotted;
	border-radius: .5em;
}

input[type="file"] {
	text-align: left;
}

//slider inputs for checkboxes


// NAVIGATION AND MENU //

#logo {
	text-align: center;
	max-height: 200px;
	width: auto;
}

#logo a img {
	max-height: 200px;
	width: auto;
}

nav {
	display: inline-flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	width: 100%;
}

nav a {
	text-decoration: none;
	padding: 1rem;
	margin: 1rem;
	text-align: center;
	flex-grow: 2;
}

// Core Elements //

.story {

}

.storycard {
	display: block;
	min-width: 200px;
}

.coverimage {
	width: 100%;
	height: auto;
}



#toolbar {
	display: inline-block;
}

#story_content {
    position: relative;
    width: 100%;
    min-height: 720px;
}


//horizontal tool grid//
.grid {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(min(10rem, 100%), 1fr));
}

.grid > div {
  height: 100px;
  background: red;
}

// Put your user SCSS styles here: //