<p style="color: green"><%= notice %></p>

<h1>Categories | <%= link_to "New", new_category_path %></h1>

<div style="display: inline;" id="categories">
  <% @categories.each do |category| %>
    <div style="padding: 2rem;"><%= render category %></div>
  <% end %>
</div>